.component-header {
  padding: 20px 0;
}

.component-header .heading {
  font-size: 56px;
  line-height: 60px;
  font-weight: 600;
}

.component-header .paragraph {
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  color: #a3a3a3;
  width: 66%;
  margin: 0 auto;
}
